<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" role="tabpanel">
        <div class="board-inner radio-check-mbv" *ngIf="topcheckedData">
            <div class="slide-nav">
                <div class="slide-center">
                    <div class="list-check">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button *ngFor="let item of restrictedSubstanceChecks;let i = index" [value]="i" [checked]="item.name === restrictedSubstanceTab" (change)="onChangeRestricted(item.name)"> {{item.name}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>

        <!--GADSL Section-->
        <div [class.modal-body]='contentHeight' [class.modal-body-new]='!contentHeight' *ngIf="gadslCheck">
            <span *ngIf="restrictedLoader">
                <i class="loader-class fa fa-spinner fa-spin"></i>
                <span class="loader-text">Loading data....</span>
            </span>

            <span *ngIf="pihAlertMessage">
                <br>
                <h5 class="loader-text"><b>Does not contain any substances that are on the GADSL</b></h5>
            </span>
            <div *ngIf="!restrictedLoader && !pihAlertMessage">
                <h6 class="text-default font-weight-semibold">GADSL:<i class="fa fa-info-circle" role="button" title="Source list is from GADSL website, placed in SharePoint"></i></h6>
                <p-table #dt [columns]="restrictedGASDLHeader" [value]="restrictedGASDLData" (sortFunction)="customSort($event)" [customSort]="true" [style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand" 
                [responsive]="true">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div style="text-align: left">
                                    <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ui-helper-clearfix" style="text-align: right">
                                    <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <br>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width:5%">S.No</th>
                            <th class="ptable-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                        <tr class="ui-resizable-column">
                            <td>{{index+1}}</td>
                            <td class="ptable-size">{{rowData.substance}}</td>
                            <td class="ptable-size">{{rowData.spec_Id}}</td>
                            <td class="ptable-size">{{rowData.cas_NO}}</td>
                            <td class="ptable-size">{{rowData.class_action}}</td>
                            <td class="ptable-size">{{rowData.reason_Code}}</td>
                            <td class="ptable-size">{{rowData.source}}</td>
                            <td class="ptable-size">{{rowData.reporting_threshold}}</td>
                            <!-- <td class="ptable-size">{{rowData.weight_Composition}}</td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>


        <!--California Prop 65 Section-->
        <div [class.modal-body]='contentHeight' [class.modal-body-new]='!contentHeight'  *ngIf="californiaCheck">
            <span *ngIf="restrictedLoader">
                <i class="loader-class fa fa-spinner fa-spin"></i>
                <span class="loader-text">Loading data....</span>
            </span>

            <span *ngIf="pihAlertMessage">
                
                <h5 class="loader-text">
                        <br>
                        <b>No Ingredient requiring a warning under Cal. Prop 65</b></h5>
                        <!-- <br>
                    <img src="../../../assets/images/momentive/category/noDataFound.png"> -->
            </span>

            <div *ngIf="!restrictedLoader && !pihAlertMessage">
                <h6 class="text-default font-weight-semibold">California Prop 65:<i class="fa fa-info-circle" role="button" title="Source list is from Cal. Prop. 65 website, placed in SharePoint"></i></h6>
                <p-table #dt [columns]="restrictedCaliforniaTableHeader" [value]="restrictedCaliforniaData" (sortFunction)="customSort($event)" [customSort]="true" [style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand" 
                [responsive]="true">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div style="text-align: left">
                                    <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ui-helper-clearfix" style="text-align: right">
                                    <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <br>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width:5%">S.No</th>
                            <th class="ptable-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                        <tr class="ui-resizable-column">
                            <td>{{index+1}}</td>
                            <td class="ptable-size">{{rowData.chemical}}</td>
                            <td class="ptable-size">{{rowData.type_Toxicity}}</td>
                            <td class="ptable-size">{{rowData.listing_Mechanism}}</td>
                            <td class="ptable-size">{{rowData.cas_NO}}</td>
                            <td class="ptable-size">{{rowData.date_Listed}}</td>
                            <td class="ptable-size">{{rowData.NSRL_Data}}</td>
                            <td class="ptable-size">{{rowData.weight_Composition}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>