<!-- Main navbar with logo -->
<div class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand wmin-200">
        <a href="index.html" class="d-inline-block">
            <img src="../../assets/images/momentive/momentivelogo.png" alt="">
        </a>
    </div>
    <!--Header Search Section-->
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <span class="navbar-text mr-md-auto mr-md-3 form-width">
		  <div>
			 <div class="forms">
				<div class="reactive-form">
				   <form autocomplete="off" novalidate [formGroup]="reactiveForm">
					  <div class="row">
						 <div class="col-md-11">
							<div class="new-search">
							   <ng-select #code class="custom" [items]="items$" placeholder="Enter the details"
							   bindLabel="name" bindValue="name" formControlName="selectedSearchNew"
							   [closeOnSelect]="true" [multiple]="true" [hideSelected]="false" [clearable]="false"
							   [typeahead]="input$" [dropdownPosition]="'bottom'" [searchable]="true"
							   [selectableGroupAsModel]="false" [compareWith]="compareAccounts"
							   [selectableGroup]="false" groupBy="group" (change)="onChangeData($event)"
							   (remove)="clearCheck()" [loading]="loading" 
							   typeToSearchText="Enter 3 characters to begin your search.."
							   notFoundText="Fetching data...">
							   <ng-template ng-header-tmp style="color:#ddd" *ngIf="selectedProducts">
								  <div class="selcted-crt">
									 <b class="selected-sug">Criteria Selected -</b> &nbsp;<span
										class="selected-sug"
										*ngFor="let data of selectedSearchText;let i=index">
									 <b>{{data.type}}</b>-{{data.name}}{{i== selectedSearchText.length-1 ? '': ','}}
									 </span>
    </div>
    <div class="new-line" *ngIf="relatedProducts">
        <b class="selected-sug">Remaining Categories - </b>
        <span class="selected-sug" *ngFor="let data of ProductDrop;let i=index">
									 {{data}}{{i== ProductDrop.length-1 ? '': ','}} </span>
    </div>
    </ng-template>
    <ng-template ng-typetosearch-tmp>
        <div class="ng-option disabled" *ngIf="relatedProducts"> Enter 3 characters to begin your search.. </div>
    </ng-template>
    <ng-template ng-notfound-tmp>
        <div class="ng-option disabled"> No data found </div>
    </ng-template>
    </ng-select>
</div>
</div>
<div class="col-md-1">
        <div class="dropdown">
              
                <i class="fa fa-info-circle new-b" (click)="keySearch()" aria-hidden="true"></i> 
                <div id="myDropdown" class="dropdown-content">
                        <a class="category-list"><b>Search Key Fields</b></a>
                        <a class="category-list"><b>NAM*</b> - Product Name</a>
                        <a class="category-list"><b>BDT*</b> - Basic Data Text</a>
                        <a class="category-list"><b>MAT*</b> - Material Number</a>
                        <a class="category-list"><b>CAS*</b> - CAS Number</a>
                        <a class="category-list"><b>SPEC*</b> - Specification ID</a>
                        <a class="category-list"><b>RSPEC*</b> - Real Specification ID</a>
                        <a class="category-list"><b>PSPEC*</b> - Pure Specification ID</a>
                        <a class="category-list"><b>SYN*</b> - Product Synonyms</a>
                        <a class="category-list"><b>CHEM*</b> - Chemical Name</a>
                </div>
              </div>
    
</div>
</div>
</form>
</div>
</div>
</div>
</span>
</div>
</div>

<!--Primary Nav Bar-->
<div class="navbar navbar-expand-md navbar-light" *ngIf="!secondaryNavBar">
    <div class="text-center d-md-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
	   <i class="icon-unfold mr-2"></i> Navigation </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-navigation">
        <ul class="navbar-nav">
            <li class="nav-item dropdown font-weight-semibold">
                <a (click)="home()" class="navbar-nav-link">
                    <i class="fa fa-home mr-2"></i> Home </a>
            </li>
            <li class="nav-item dropdown font-weight-semibold">
                <a (click)="UnassignedDocuments()" class="navbar-nav-link">
                    <i class="fa fa-file-pdf-o mr-2"></i> Ontology Documents </a>
            </li>
            <li class="nav-item dropdown font-weight-semibold">
                <a (click)="OntologyMasterManagement()" class="navbar-nav-link">
                    <i class="fa fa-random mr-2"></i> Ontology Management </a>
            </li>

            
        </ul>
    </div>
</div>

<!-- secondary navbar -->
<div class="navbar navbar-expand-md navbar-light" *ngIf="secondaryNavBar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a *ngIf="sidebarIcon" class="navbar-nav-link sidebar-control sidebar-right-main-hide d-none d-md-block">
                <i class="fa fa-align-justify" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <div class="text-center d-md-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
	   <i class="icon-unfold mr-2"></i> Navigation </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-navigation">
        <ul class="navbar-nav col-md-9">
            <li class="nav-item font-weight-semibold">
                <a (click)="changePage('app-home', true)" class="navbar-nav-link">
                    <i class="fa fa-home mr-2"></i> Home </a>
            </li>
            <li class="nav-item nav-item-levels mega-menu-full font-weight-semibold">
                <a (click)="basicPropertiesEvent('productDetails')" class="navbar-nav-link">
                    <i class="fa fa-th-large mr-2"></i> Basic Properties </a>
            </li>
            <!-- <li class="nav-item nav-item-levels mega-menu-full font-weight-semibold">
			 <a (click)="changePage('app-view-report', false)" class="navbar-nav-link">
				 <i class="fa fa-stack-exchange mr-2"></i> Self Service </a>
			 </li> -->
            <li class="nav-item dropdown font-weight-semibold">
                <a (click)="changePage('ontology', false)" class="navbar-nav-link">
                    <i class="fa fa-file-pdf-o mr-2"></i> Ontology Documents </a>
            </li>
            <li class="nav-item dropdown font-weight-semibold">
                <a (click)="changePage('ontology/synonyms', false)" class="navbar-nav-link">
                    <i class="fa fa-random mr-2"></i> Ontology Management </a>
            </li>
           
        </ul>

        <!--SPEC LIST DROPDOWN-->
        <ul class="navbar-nav col-md-2">
            <mat-form-field>
                <mat-select  [formControl]="specMultiCtrl" name="specMultiCtrl" placeholder="Select SPEC ID" disableOptionCentering panelClass="myPanelClass" [multiple]="true" #multiSelect>
                    <mat-select-filter [formControl]="specMultiFilterCtrl" ngDefaultControl placeholderLabel="Search SPEC...">
                    </mat-select-filter>
                    <mat-checkbox [disabled]="!specDataListDetails" class="mat-option" [disableRipple]="true" (change)="toggleSelection($event)">
                        Select Only 20 SPEC Lists
                    </mat-checkbox>
                    <mat-option  #allSelected *ngFor="let SpecList of filteredSpecMulti | async" [value]="SpecList" [disabled]="!specDataListDetails"  (click)="selectCheckBoxMethod(allSelected.selected, SpecList)">
                        {{SpecList.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ul>
        <ul class="navbar-nav col-md-1">
            <button class="btn spec-btn" [disabled]="!specDataListDetails" (click)="selectedTopSpecList()" type='submit'>submit</button>
        </ul>
    </div>
</div>
<!-- /secondary navbar -->
<!-- Page header -->
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div>
        </div>
    </div>
</div>
<!-- /page header -->


<!--BASIC PROPERTIES DETAILS-->
<div class="modal fade momodel modal-fluid" id="basicDetails" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog momodel modal-fluid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title custom_align" id="Heading">Basic Properties</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
				class="fa fa-times mom-close" aria-hidden="true"></span></button>
            </div>
            <div class="basic-scrl">
                <span *ngIf="basicPropertiesLoader">
			 <i class="loader-class fa fa-spinner fa-spin"></i>
			 <span class="loader-text">Loading Basic Properties data....</span>
                </span>

      

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#myGroup" href="#productLevel" aria-expanded="true" aria-controls="collapseOne">
                                    <h5><b>Product Level Details</b></h5>
                                </a>
                            </h6>
                        </div>
                        <div id="productLevel" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div *ngIf="productLevel.length > 0">
                                    <h5><b>Product Level Details</b></h5>
                                    <div class="row filter-basic-part">
                                        <div class="col-md-6">
                                            <form class="syn-search" action="#">
                                                <div class="form-group-feedback form-group-feedback-right">
                                                    <input type="search" class="form-control" name="product" [(ngModel)]="searchProductText" autocomplete="off" placeholder="Search Product Name">
                                                    <div class="form-control-feedback">
                                                        <i class="fa fa-search font-size-base text-muted"></i>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <button (click)="exportToBasicProductTable()" class="btn spec-btn pull-right">Export
                                      To Excel</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered" #basicProduct>
                                                <thead>
                                                    <th style="width: 5%"><b>S.No</b></th>
                                                    <th class="basic-head"><b>Spec ID</b></th>
                                                    <th class="basic-head"><b>All Nam Prod Identifiers</b></th>
                                                    <th class="basic-head"><b>Synonyms</b></th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of productLevel | productLevel:searchProductText;let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td>{{data.real_Spec_Id}}</td>
                                                        <td>{{data.namprod}}</td>
                                                        <td>{{data.synonyms}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
                <br>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#myGroup" href="#materialLevel" aria-expanded="true" aria-controls="collapseOne">
                                    <h5><b>Material Level Details</b></h5>
                                </a>
                            </h6>
                        </div>
                        <div id="materialLevel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                <div *ngIf="MaterialLevel.length > 0">
                   
                    <div class="row filter-basic-part">
                        <div class="col-md-6">
                            <form class="syn-search" action="#">
                                <div class="form-group-feedback form-group-feedback-right">
                                    <input type="search" class="form-control" name="material" [(ngModel)]="searchMaterialText" autocomplete="off" placeholder="Search Material Number">
                                    <div class="form-control-feedback">
                                        <i class="fa fa-search font-size-base text-muted"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <button (click)="exportToBasicMaterialLevel()" class="btn spec-btn pull-right">Export
					  To Excel</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table table-condensed" #basicMaterial style="border-collapse:collapse;">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%"><b>S.No</b></th>
                                                <th class="basic-head"><b>Specification ID - NAM Prod</b></th>
                                                <th class="basic-head"><b>Material Number</b></th>
                                                <th class="basic-head"><b>Material Description</b></th>
                                                <th class="basic-head"><b>BDT</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of MaterialLevel| pihFilter: searchMaterialText; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{data.real_Spec_Id}}</td>
                                                <td>{{data.material_Number}}<br></td>
                                                <td>{{data.description}}</td>
                                                <td>{{data.bdt}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div></div></div></div>
                <br>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#myGroup" href="#casLevel" aria-expanded="true" aria-controls="collapseOne">
                                    <h5><b> Component Level Details</b></h5>
                                </a>
                            </h6>
                        </div>
                        <div id="casLevel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                <div *ngIf="casLevel.length > 0">
                  
                    <div class="row filter-basic-part">
                        <div class="col-md-6">
                            <form class="syn-search" action="#">
                                <div class="form-group-feedback form-group-feedback-right">
                                    <input type="search" class="form-control" name="casNumber" [(ngModel)]="searchCASText" autocomplete="off" placeholder="Search CAS Number">
                                    <div class="form-control-feedback">
                                        <i class="fa fa-search font-size-base text-muted"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <button (click)="exportToBasicCasLevel()" class="btn spec-btn pull-right">Export
					  To Excel</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table table-condensed" #basicCas style="border-collapse:collapse;">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%"><b>S.No</b></th>
                                                <th class="basic-head"><b>Pure Specification</b></th>
                                                <th class="basic-head"><b>Chemical Name</b></th>
                                                <th class="basic-head"><b>CAS#</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of casLevel| casLevelFilter: searchCASText; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{data.pure_Spec_Id}}</td>
                                                <td>{{data.chemical_Name}}</td>
                                                <td>{{data.cas_Number}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div></div></div></div>