<div class="container">
    <br>
    <!--Alert Message and Loading Symbol-->
    <div class="row" *ngIf="ontologyAlertDocument">
        <div class="col-md-12">
            <h5 class="msg-data">No documents for the Selected Product</h5>
        </div>
    </div>

    <div class="row" *ngIf="ontologyassignedDocument">
        <div class="col-md-12">
            <i class="loader-class fa fa-spinner fa-spin"></i>
            <span class="loader-text">Loading data....</span>
        </div>
    </div>
</div>

<!--Related Documents Section-->
<div id="content" *ngIf="!ontologyAlertDocument && !ontologyassignedDocument">
    <div class="row">
        <div class="col-md-6">
            <h5>Related all Documents</h5>
        </div>
        <div class="col-md-6 mr-r">
            <button class="docs-btn" (click)="expand()">Show All</button>
            <button class="docs-btn" (click)="collapse()">Hide All</button>
        </div>

    </div><br>
    <div class="row">
        <div class="col-md-12 col-md-offset-2" *ngFor="let data of ontologyFileDocuments;let i = index">
            <div class="accordion" id="accordionOntology" role="tablist" aria-multiselectable="true">
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingOne" role="button">
                        <h6 class="panel-title">
                            <a class="collapsed" data-toggle="collapse"  [attr.href]="'#'+data.category" aria-expanded="true" aria-controls="collapseOne">
                              <h6>{{data.category}}</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="{{data.category}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" >
                        <div class="panel-body">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Created Date</th>
                                       <th>Specification Id</th>
                                        <th>Product Name</th>
                                        <th>Product key</th>
                                        <th>File Source</th>
                                        <th>Documents Name</th>

                                
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let each of data[data.category] ;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{each.createdDate}}</td>
                                        <td>{{each.spec_Id}}</td>
                                        <td>{{each.productName}}</td>
                                        <td>{{each.product_Key}}</td>
                                        <td>{{each.file_source}}</td>
                                        <td (click)="ontologyDocuments(each.id,data.category,each.productName)"> <img class="pdf-img" src="https://www.techadvisor.co.uk/cmsdata/features/3679232/how-to-extract-pages-from-a-pdf-thumb_thumb1200_4-3.jpg"><a class="doc-link"> {{each.fileName}}</a></td>

                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>