<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" role="tabpanel">
        <div class="board-inner radio-check-mbv">
            <div class="slide-nav">
                <div class="slide-center">
                    <div class="list-check">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button *ngFor="let item of productAttributeCheck ;let i = index" [value]="i"
                                [checked]="item.name === productAttributesCheck"
                                (change)="onChangeProductAttribute(item.name)"> {{item.name}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-body">
  
            <div *ngIf="primaryInformtionTypes">
                <div class="card-body">
                    <div class="row card-btm">
                        <div class="col-md-4">


                            <h6 class="card-subtitle mb-2  text-default font-weight-semibold">Product Identification: <i
                                    class="fa fa-info-circle" title="This data is from SAP"></i></h6><span
                                class="text-muted">LSR2680FC,
                                LSR2680,NLR160-80,NLR160-80,T6227</span>
                        </div>
                        <div class="col-md-4">
                            <h6 class="card-subtitle mb-2 text-default font-weight-semibold ">Relabels: <i
                                    class="fa fa-info-circle" title="This data is from SAP"></i><span> N/A</span></h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="card-subtitle mb-2 text-default font-weight-semibold ">Chemical Name: <i
                                    class="fa fa-info-circle" title="This data is from SAP"></i><span> N/A</span></h6>
                        </div>
                    </div>
                    <div class="row card-innerProduct-body">
                        <div class="col-md-12">
                            <h6 class="card-subtitle mb-2 text-default font-weight-semibold ">Product Application: <i
                                    class="fa fa-info-circle" title="This data is from Momentive website"></i></h6>

                            <div class="row">
                                <div class="col-md-4" *ngFor="let data of productApplication">
                                    <div class="text-muted">
                                        <span class="badge badge-mark border-grey-400 mr-1"></span>
                                        {{data.app_text}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row card-inner-body">
                        <div class="col-md-12">
                            <h6 class="card-subtitle mb-2 text-default font-weight-semibold">Registered Quantity Per
                                Legal Entity: <i class="fa fa-info-circle" role="button"
                                    title="This data is from SAP"></i></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="ghsLabeling">
                <div class="card-body">
                    <h6 class="text-default font-weight-semibold">GHS Labeling: <i class="fa fa-info-circle"
                            role="button" title="This data is from SAP"></i></h6>
                    <p-table #dt [columns]="ghsLabelingHeader" [value]="ghsLabelingData"
                        (sortFunction)="customSort($event)" [paginator]="legalpaginator" [rows]="5" [customSort]="true"
                        selectionMode="multiple" [(selection)]="selectedLabelingProducts" [reorderableColumns]="true">
                        <ng-template pTemplate="caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="text-align: left">
                                        <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                        <input type="text" class="pg-search" pInputText size="50" placeholder="Search"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ui-helper-clearfix" style="text-align: right">
                                        <button class="btb pg-button" type="button" label="All Data"
                                            (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                        <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <br>

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width:2.5em"></th>
                                <th class="pg-head" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                    pReorderableColumn [ngStyle]="{'width': col.width}">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                            <tr [pReorderableRow]="index">
                                <td>
                                    <i class="fa fa-bars" pReorderableRowHandle></i>
                                </td>
                                <td [style]="{'width':'300px'}" *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div *ngIf="structureAndFormulaTypes">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="text-default font-weight-semibold mb-2 mh-2">Chemical Structure: <i
                                    class="fa fa-info-circle" role="button"
                                    title="This data is from Document on Shared Drive - P"></i></h6>
                            <br>
                            <h6 class="text-muted">CAS Number: 68083-19-2 </h6>
                            <img src="../../assets/images/momentive/chemicalStructure.png" />
                        </div>
                        <div class="col-md-4">
                            <h6 class="text-default font-weight-semibold mb-2 mh-2">Molecular Formula: <i
                                    class="fa fa-info-circle" role="button" title="This data is from TIR & SIP SP"></i>
                            </h6>
                            <br>
                            <ol class="structure">
                                <li class="text-muted"> M1.99 D10.01 D”0.98 T20.01:
                                    where D”= -(CH3)Si-CH2CH2CH2O(EO)7.3-OH</li>
                            </ol>
                        </div>

                        <div class="col-md-4">
                            <h6 class="text-default font-weight-semibold mb-2 mh-2 ">Molecular Weight:<i
                                    class="fa fa-info-circle" role="button" title="This data is from TIR & SIP SP"></i>
                            </h6>
                            <br>
                            <ol class="structure">
                                <li class="text-muted">Monoisotopic Molecular Weight: 548.19/788.20 Da</li>

                                <li class="text-muted"> Average Molecular Weight: 548.92/789.43 Da </li>
                            </ol>

                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="compositionTypes">
                <div class="card-body">


                    <!-- Start row -->

                    <div class="row">
                        <div class="col-md-12">

                            <!-- Start accordion -->
                            <div id="accordion" class="">

                                <!-- Start First collapse -->
                                <div class="panel ">
                                    <div class="productLevel" role="tab" id="headingOne">

                                        <div class="row">
                                            <div class="col-3 col-lg-3">

                                                <h4 class="checkout-step-title"> <a role="button"> Product Level &
                                                        Material Level Details</a></h4>
                                            </div>

                                            <div class="col-8 col-lg-8">
                                                <!-- <ul class="nav spec-toggle"  *ngIf="compositionSpecID"> <h5> SPEC ID - </h5> 
                                                <li class="nav-item">
                                                    <a class="select-spec active" data-toggle="tab" (click)="selectSpec()">000000053217
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="select-spec" data-toggle="tab" (click)="selectSpec()">M00000005037</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="select-spec" data-toggle="tab" (click)="selectSpec()">M00000005056</a>
                                                </li>
                                            </ul> -->
                                            </div>

                                            <div class="col-1 col-lg-1 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block"
                                                data-toggle="collapse" data-parent="#accordion" href="#productLevel">
                                                <button id="nextBtn" name="nextBtn"
                                                    class="btn btn-default imc-jfeditbtn"><i class="fa fa-angle-down"
                                                        aria-hidden="true"></i></button>
                                            </div>

                                            <div class="col-1 col-lg-1 text-right d-md-none d-lg-none"
                                                data-toggle="collapse" data-parent="#accordion" href="#productLevel">
                                                <button id="nextBtn" name="nextBtn"
                                                    class="btn btn-default imc-jfeditbtn"><i class="fa fa-angle-down"
                                                        aria-hidden="true"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="productLevel" class="collapse show">

                                        <!-- Start collapse body -->

                                        <div class="checkout-step-body">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="card-comp">
                                                        <span>
                                                            <p><b>REAL SUB Number </b> : 000000053217 </p>
                                                            <p><b>Product Name</b> : Silsoft* 876 , SILSOFT 876 FLUID
                                                            </p>
                                                            <p><b>Relabel Name(s)</b> : None</p>
                                                            <p><b>INCI Name</b> : PEG-12 Dimethicone
                                                                NAM Prod: Silsoft* 876</p>
                                                        </span>
                                                    </div>
                                                    <br>
                                                    <div>
                                                        <mat-form-field>
                                                            <mat-select name="compositionVaraible"
                                                                [(value)]="selectedComposition"
                                                                placeholder="Select Composition Type"
                                                                (selectionChange)="compositionProcess($event.value)">
                                                                <mat-option *ngFor="let data of compositionsTypes"
                                                                    [value]="data.name">
                                                                    {{data.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-sm-12 custyle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <nav>
                                                                <div class="nav nav-tabs nav-fill" id="nav-tab"
                                                                    role="tablist">
                                                                    <a class="nav-item nav-link active"
                                                                        id="nav-home-tab" data-toggle="tab"
                                                                        href="#nav-home" role="tab"
                                                                        aria-controls="nav-home"
                                                                        aria-selected="true">All Material</a>
                                                                    <a class="nav-item nav-link" id="nav-profile-tab"
                                                                        data-toggle="tab" href="#nav-profile" role="tab"
                                                                        aria-controls="nav-profile"
                                                                        aria-selected="false">Active Material</a>
                                                                </div>
                                                            </nav>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="tab-content" id="nav-tabContent">
                                                                <div class="tab-pane fade show active" id="nav-home"
                                                                    role="tabpanel" aria-labelledby="nav-home-tab">
                                                                    <table class="table" id="rtable">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>MM#</th>
                                                                                <th>Material Description</th>
                                                                                <th>Profit center</th>
                                                                                <th>Profit center Text</th>
                                                                                <th>Market Segment-1</th>
                                                                                <th>Market Segment-2</th>
                                                                                <th>Ext.Matl Grp</th>
                                                                                <th>Basic Data Text</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>132379
                                                                                </td>
                                                                                <td>SILSOFT 876/STL DR/210KG
                                                                                </td>
                                                                                <td>410
                                                                                </td>
                                                                                <td>SPECIALTY FLUIDS
                                                                                </td>
                                                                                <td>SKIN AND COLOUR CO
                                                                                </td>
                                                                                <td>HAIR CARE
                                                                                </td>
                                                                                <td>ECOM
                                                                                </td>
                                                                                <td>Silsoft* 876 fluid
                                                                                </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td>132379
                                                                                </td>
                                                                                <td>SILSOFT 876/STL DR/210KG
                                                                                </td>
                                                                                <td>410
                                                                                </td>
                                                                                <td>SPECIALTY FLUIDS
                                                                                </td>
                                                                                <td>SKIN AND COLOUR CO
                                                                                </td>
                                                                                <td>HAIR CARE
                                                                                </td>
                                                                                <td>ECOM
                                                                                </td>
                                                                                <td>Silsoft* 876 fluid
                                                                                </td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="tab-pane fade" id="nav-profile"
                                                                    role="tabpanel" aria-labelledby="nav-profile-tab">
                                                                    <table class="table" id="rtable">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>MM#</th>
                                                                                <th>Material Description</th>
                                                                                <th>Profit center</th>
                                                                                <th>Profit center Text</th>
                                                                                <th>Market Segment-1</th>
                                                                                <th>Market Segment-2</th>
                                                                                <th>Ext.Matl Grp</th>
                                                                                <th>Basic Data Text</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>132379
                                                                                </td>
                                                                                <td>SILSOFT 876/STL DR/210KG
                                                                                </td>
                                                                                <td>410
                                                                                </td>
                                                                                <td>SPECIALTY FLUIDS
                                                                                </td>
                                                                                <td>SKIN AND COLOUR CO
                                                                                </td>
                                                                                <td>HAIR CARE
                                                                                </td>
                                                                                <td>ECOM
                                                                                </td>
                                                                                <td>Silsoft* 876 fluid
                                                                                </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td>132379
                                                                                </td>
                                                                                <td>SILSOFT 876/STL DR/210KG
                                                                                </td>
                                                                                <td>410
                                                                                </td>
                                                                                <td>SPECIALTY FLUIDS
                                                                                </td>
                                                                                <td>SKIN AND COLOUR CO
                                                                                </td>
                                                                                <td>HAIR CARE
                                                                                </td>
                                                                                <td>ECOM
                                                                                </td>
                                                                                <td>Silsoft* 876 fluid
                                                                                </td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                        <!-- End collapse body -->
                                    </div>
                                </div>
                                <!-- End First collapse -->
                            </div>
                            <!-- End accordion -->
                        </div>
                    </div>
                    <!-- End row -->


                    <h5>Composition Details</h5>
                    <div class="row">

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select name="locationVaraible" [(value)]="selectedlocation"
                                    placeholder="Rating and Validity Area"
                                    (selectionChange)="SubLevelComposition($event.value)">
                                    <mat-option *ngFor="let region of locations" [value]="region.name">
                                        {{region.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
<div class="col-md-9">
    <button (click)="exportToStandardCompostionExcel()" class="btn btn-success pull-right">Export To Excel</button> 
</div>
                      


                    </div>


                    <div class="row" *ngIf="compositionSHI">
                        <div class="col-md-12">
                            <div class="table-responsive" #StandardCompositiontable>
                                <div class="table-responsive" id="sailorTableArea">
                                    <table id="sailorTable" class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th colspan="3"
                                                    style="background-color:  #a0a3e0;color:#fff !important;">Component
                                                    Details</th>
                                                <th colspan="3"
                                                    style="background-color: #ebc3db;color:#fff !important;">Standard
                                                    Composition</th>
                                                <th colspan="3"
                                                    style="background-color: #c7e2bb;color:#fff !important;">100 %
                                                    Composition</th>
                                                <th colspan="3"
                                                    style="background-color: rgb(235, 195, 65);color:#fff !important;">
                                                    INCI Composition</th>
                                            </tr>
                                            <tr>
                                                <th>Pure Spec ID</th>
                                                <th>CAS Number</th>
                                                <th style="width:15%">Ingredient Name</th>
                                                <th>Component Type</th>
                                                <th>Value</th>
                                                <th style="width:5%">Unit</th>
                                                <th>Component Type</th>
                                                <th>Value</th>
                                                <th style="width:5%">Unit</th>
                                                <th>Component Type</th>
                                                <th>Value</th>
                                                <th style="width:5%">Unit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let sale of sales">
                                                <td>{{sale.Specification}}</td>
                                                <td>{{sale.cas_Number}}</td>
                                                <td style="word-break:break-word;">{{sale.ingredient}}</td>
                                                <td>{{sale.std_component}}</td>
                                                <td>{{sale.std_value}}</td>
                                                <td style="width:5%">{{sale.std_unit}}</td>
                                                <td>{{sale.hundered_component}}</td>
                                                <td>{{sale.hundered_value}}</td>
                                                <td style="width:5%">{{sale.hundered_unit}}</td>
                                                <td>{{sale.inic_component}}</td>
                                                <td>{{sale.inic_value}}</td>
                                                <td style="width:5%">{{sale.inic_unit}}</td>
                                            </tr>

                                            <tr>
                                                <td colspan="3">Total</td>
                                                <td colspan="3">
                                                    <p class="spec-toggle">18.00 %</p>
                                                </td>
                                                <td colspan="3">
                                                    <p class="spec-toggle">22.80 %</p>
                                                </td>
                                                <td colspan="3">
                                                    <p class="spec-toggle">44.80 %</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row" *ngIf="compositionLegalTypes">
                        <!-- Legal Composition -->
                        <div class="col-md-12">
                            <h5>Legal Composition</h5>
                            <p-table #dt [columns]="legalCompositionHead" [value]="legalCompositionData"
                                (sortFunction)="customSort($event)" [paginator]="false" [rows]="5" [customSort]="true"
                                selectionMode="multiple" [(selection)]="selectedlegalCompositionProducts"
                                [reorderableColumns]="true">
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div style="text-align: left">
                                                <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                <input type="text" class="pg-search" pInputText size="50"
                                                    placeholder="Search"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ui-helper-clearfix" style="text-align: right">
                                                <!-- <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                            <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                                <!-- <button class="btb pg-button" (click)="exportLegalXLSX()"><i class="fa fa-file-excel-o">  Export CSV</i></button> -->
                                                <button class="btb pg-button"><i class="fa fa-file-excel-o"> Export
                                                        CSV</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <br>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width:2.5em"></th>
                                        <th class="pg-head" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                            pReorderableColumn [ngStyle]="{'width': col.width}">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                ariaLabelDesc="Activate to sort in descending order"
                                                ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-legalData let-index="rowIndex">
                                    <tr [pReorderableRow]="index">
                                        <td>
                                            <i class="fa fa-bars" pReorderableRowHandle></i>
                                        </td>
                                      
                                        <td>
                                            {{legalData.Specification}}
                                        </td>
                                        <td>
                                            {{legalData.CAS_Number}}
                                        </td>
                                        <td>
                                            {{legalData.Ingredient_Name}}
                                        </td>
                                        
                                        <td>
                                            {{legalData.Component_Type}}
                                        </td>
                                         
                                        <td>
                                                {{legalData.Legal_Composition}}
                                            </td>
                                             
                                        <td>
                                                {{legalData.Unit}}
                                            </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </div>
<br>
                        <!-- SVT Legal Composition -->
                        <div class="row">
                        <div class="col-md-12" *ngIf="subCompositionLevel">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><b>SVT Substance Details</b></h5>
                                    </div>
                                <div class="col-md-6">
                                    <button (click)="exportToSVTTableExcel()" class="btn btn-success pull-right">Export To Excel</button> 
                                </div>
                            </div>
                            <br>
                           
                          
                                <div class="table-responsive" #SVTtable>
                                    <div class="table-responsive" id="sailorTableArea">
                                        <table id="sailorTable" class="table table-striped table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th colspan="1"
                                                        style="background-color:  #a0a3e0;color:#fff !important;">
                                                        Scenario</th>
                                                    <th colspan="4"
                                                        style="background-color: #ebc3db;color:#fff !important;">SVT LV
                                                    </th>
                                                    <th colspan="4"
                                                        style="background-color: #c7e2bb;color:#fff !important;">SVT TE
                                                    </th>
                                                    <th colspan="4"
                                                        style="background-color: rgb(235, 195, 65);color:#fff !important;">
                                                        SVT AN</th>
                                                </tr>
                                                <tr>
                                                    <th>Pure Spec ID</th>
                                                    <th>2018</th>
                                                    <th>2019</th>
                                                    <th>2020</th>
                                                    <th>Amount Limit in tones</th>
                                                    <th>2018</th>
                                                    <th>2019</th>
                                                    <th>2020</th>
                                                    <th>Amount Limit in tones</th>
                                                    <th>2018</th>
                                                    <th>2019</th>
                                                    <th>2020</th>
                                                    <th>Amount Limit in tones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let legalData of SVT_table">
                                                    <td>{{legalData.spec_id}}</td>
                                                    <td>{{legalData.Lv_2018}}</td>
                                                    <td>{{legalData.Lv_2019}}</td>
                                                    <td>{{legalData.Lv_2020}}</td>
                                                    <td>{{legalData.Lv_Amount}}</td>
                                                    <td>{{legalData.TE_2018}}</td>
                                                    <td>{{legalData.TE_2019}}</td>
                                                    <td>{{legalData.TE_2020}}</td>
                                                    <td>{{legalData.TE_Amount}}</td>
                                                    <td>{{legalData.inic_component}}</td>
                                                    <td>{{legalData.AN_2018}}</td>
                                                    <td>{{legalData.AN_2019}}</td>
                                                    <td>{{legalData.AN_2020}}</td>
                                                </tr>

                                                <tr>
                                                    <td colspan="1"><b>Total</b></td>
                                                    <td colspan="4">
                                                        <p class="spec-toggle"><b>1,999,998,0000</b></p>
                                                    </td>
                                                    <td colspan="4">
                                                        <p class="spec-toggle"><b>2</b></p>
                                                    </td>
                                                    <td colspan="4">
                                                        <p class="spec-toggle"><b>1</b></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                      </div>
                    </div>
                </div>
            </div>



            <div *ngIf="flowDiagrams">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-default font-weight-semibold mb-2 ">Manufacturing Flow Diagram: <i
                                    class="fa fa-info-circle" role="button"
                                    title="This data is from Document on Shared Drive - P"></i> <span
                                    class="img-down"><a
                                        href="../../assets/images/momentive/ManufracturingFlowDiagram.png"
                                        class="btn btn-primary btn-sm" target="_self" download>Download</a></span></h6>
                            <div class="img-content">
                                <img src="../../assets/images/momentive/ManufracturingFlowDiagram.png" width="80%">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-default font-weight-semibold mb-2 ">Synthesis Diagram: <i
                                    class="fa fa-info-circle" role="button"
                                    title="This data is from Document on Shared Drive - P"></i><span class="img-down"><a
                                        href="../../assets/images/momentive/SynthesisDiagram.png"
                                        class="btn btn-primary btn-sm" target="_self" download>Download</a></span></h6>
                            <div class="img-content">
                                <img src="../../assets/images/momentive/SynthesisDiagram.png"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>