.modal-body {
    background-color: #fff;
    position: relative !important;
    height: calc(100vh - 80px) !important;
    overflow-y: auto !important;
    padding:20px;
}
.modal-body-new {
    position: relative;
    height: calc(100vh - 200px) ;
    overflow-y: auto;
    padding:20px;
    background-color:#fff;
}

.card-btm {
    height: auto;
    padding-bottom: 15px;
}

.spec-drop {
    float: left;
    padding-left: 20px;
}

.spec-label {
    float: right;
}
.comp-heading{
    margin-top:-25px;
}

.mat-select-search-hidden {
    visibility: hidden;
}

.mat-select-search-inner {
    position: absolute;
    top: 0;
    width: calc(100% + 15px);
    border-bottom: 1px solid #cccccc;
    background: white;
    z-index: 100;
}

.mat-select-search-inner.mat-select-search-inner-multiple {
    width: calc(100% + 48px);
}

::ng-deep .mat-select-search-panel {
    /* allow absolute positioning relative to outer options container */
    transform: none !important;
    max-height: 350px;
}

.mat-select-search-input {
    padding: 16px;
    padding-right: 36px;
    box-sizing: border-box;
}

.mat-select-search-no-entries-found {
    padding: 16px;
}

.mat-select-search-clear {
    position: absolute;
    right: 0;
    top: 4px;
}

::ng-deep.cdk-overlay-pane-select-search {
    /* correct offsetY so that the selected option is at the position of the select box when opening */
    margin-top: -50px;
}

.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

.card-comp {
    min-height: auto;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
    border-radius: 0px;
    transition: 0.5s;
    width: auto;
    padding: 10px;
}

.custyle {
    box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
    padding: 8px;
}

.panel {
    margin-bottom: 0px;
}

.checkout-step {
    /*background: #e8eef1;*/
    background: #83a4d4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top: 1px solid #607d8b21;
    color: #666;
    font-size: 14px;
    padding: 15px 10px;
    position: relative;
}

.checkout-step-number {
    border-radius: 50%;
    /* border: 1px solid #ced0d2; */
    display: inline-block;
    background: #065c9f;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 32px;
    margin-right: 15px;
    padding: 6px;
    text-align: center;
    width: 32px;
}

.checkout-step-title {
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    margin: 0px;
    color: #fff;
}

.checkout-step-body {
    background: #fff;
    padding: 0px 0px;
    margin: 20px 0px 0px;
}


/*composition*/

.comp-role {
    cursor: pointer;
}

.imc-jfheader {
    background: #fff;
    padding: 15px;
}

.imc-text h1 {
    font-size: 20px;
    color: #00BCD4;
}

.imc-text h2 {
    font-size: 12px;
}

.imc-jfeditbtn {
    padding: 5px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    background: #29506f;
}

.project-tab {
    padding: 10%;
    margin-top: -8%;
}

.project-tab #tabs {
    background: #007b5e;
    color: #eee;
}

.project-tab #tabs h6.section-title {
    color: #eee;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}

.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}

.project-tab .nav-link:hover {
    border: none;
}

.project-tab thead {
    background: #f3f3f3;
    color: #333;
}

.project-tab a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.tab-pane {
    position: relative;
    padding-top: 5px !important;
}

thead,
th {
    font-weight: 800;
    padding: 10px;
    text-align: center;
}

tbody tr td {
    padding: 10px;
}

/* #rtable thead,
th {
    font-weight: 800;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
}

#rtable tbody tr td {
    padding: 5px;
    font-size: 12px;
    word-break: normal;
} */
.ghs-head{
    font-weight: 800;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    min-width: 200px;
  
}

.ghs-head-haz{
    font-weight: 800;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    min-width: 300px;
  
}
.com-mat-ht{
    margin-top:-20px;
}


.search-table-outter { overflow-x: scroll; height:300px}
.search-table-outter-new { overflow-x: scroll; height:400px}
 

.productLevel {
    background: #29506f;
    ;
    padding: 10px;
    color: #fff !important;
}

.select-spec {
    color: #29506f !important;
    background: #fff;
    font-weight: bold;
    padding: 7px;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
}

.spec-toggle {
    float: right;
}
.decimal-data {
    text-align: right;
}
.comp-header{
    color:#333;
    font-weight: bolder;
  
}
.potential-btn {
    text-align: center;
}

.composition-specDrop {
    width: 30%;
    float: right;
    margin-top: 12px;
}

.spec-btn {
    padding: 5px;
    border-radius: 0px;
    background: #1a355e;
    color: #fff;
}


.docs-btn a {
    color: #ffffff;
    background-color: #1a355e;
    border-color: #cccccc;
    padding: 5px;
}

.mat-act {
    height: 200px;
    overflow-y: scroll;
}

.list-check-nav {
    white-space: nowrap;
    height: 100%;
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}
/* prime Table */

::ng-deep  .ui-table table, .ui-table table
{  table-layout:auto !important;
}
::ng-deep .ui-table-tablewrapper {
    width: auto!important;
}

::ng-deep .ui-table-resizable {
    padding-bottom: 1px;
    /* overflow: auto; */
    width: auto !important;
}
.ui-table .ui-table-tbody > tr, .ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td{
    max-width: 300px !important;
    font-size: 12px;
    padding: 0px !important;
    padding-left: 4px !important;
    color: black;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    border-width: 1px;
}
.ptable-head{
    max-width: 300px !important;
    font-size: 12px;
    padding: 0px !important;
    padding-left: 4px !important;
    color: black;
    text-transform: capitalize;
    white-space: normal;
    /* overflow: hidden;
    text-overflow: ellipsis !important; */
    border-width: 1px;
    word-break: break-word;
 }
 .ptable-size{
    max-width: 300px !important;
    font-size: 12px;
    padding: 0px !important;
    padding-left: 4px !important;
    color: black;
    text-transform: capitalize;
    white-space: normal;
    overflow: hidden;
    border-width: 1px; 
    word-break: break-all
 }

 .ptable-sybl-size{
    width: 125px;
    text-align: center;
 }
.comp-center{
    text-align: center !important;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    z-index:1032;
}

.btn-back {
    background-color: #1a355e !important;
    border: 0px;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    color: #fff;
}
.back-btn {
    float: right;
    cursor: pointer;
}

.panel-title{
    cursor: pointer;
}
  .usage-part{
      width:30%;
      float: right;
  }
  .show {display: block;}
  .panel {
    margin-bottom: 24px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  
  .panel-body {
    padding: 15px;
  }
  
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  
  .panel-heading>.dropdown .dropdown-toggle {
    color: inherit;
  }
  
  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
  }
  
  .panel-group {
    margin-bottom: 24px;
  }
  
  .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
  }
  
  .panel-group .panel+.panel {
    margin-top: 5px;
  }
  
  .panel-group .panel-heading {
    border-bottom: 0;
  }
  
  .panel-group .panel-heading+.panel-collapse>.panel-body,
  .panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 1px solid #dddddd;
  }
  
  .panel-group .panel-footer {
    border-top: 0;
  }
  
  .panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom: 1px solid #dddddd;
  }
  
  .panel-primary {
    border-color: #cccccc;
  }
  
  .panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #1a355e;
    border-color: #cccccc;
  }
  
  .panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #cccccc;
  }
  
  .panel-primary>.panel-heading .badge {
    color: #ffffff;
    background-color: #ffffff;
  }
  
  .panel-primary>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #cccccc;
  }
  
  .panel-primary h1,
  .panel-primary h2,
  .panel-primary h3,
  .panel-primary h4,
  .panel-primary h5,
  .panel-primary h6,
  .panel-primary .h1,
  .panel-primary .h2,
  .panel-primary .h3,
  .panel-primary .h4,
  .panel-primary .h5,
  .panel-primary .h6 {
    color: #ffffff;
  }
  
  .panel-title>a:before {
    content: "\f068";
    float: right !important;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
  
  .panel-title>a.collapsed:before {
    content: "\f067";
  }
  
  .panel-title>a {
    text-decoration: none;
    color: #fff;
  }
.modal-bodys{
    overflow-y: auto;
    height:500px;
}
.modal-bodys img{
    max-width: 100%;
    height: auto;
    overflow-y: scroll;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
.comp-card
.list-group {
    background-color: #fff;
    border: 0px solid rgba(0,0,0,.125);
    padding: 1.5rem 0;
    background-clip: padding-box;
    border-radius: .1875rem;
}


.list-left li, .list-right li {
    cursor: pointer;
}

.comp-card .list-group-item {
    position: relative;
    display: block;
    padding: 8px 8px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.comp-divsec{
    height:auto !important;
}
.btn-cmp {
    padding: 2px;
    float: right;
    font-size: 12px;
    margin: 10px;
    background-color: #1a355e;
    color:#fff;
    font-weight: bold;
}
.syn-search {
    margin-bottom: 8px;
}