<!-- <div class="container">
    <div class="row" *ngIf="ontologySynonymsLoader">
        <div class="col-md-12">
            <i class="loader-class fa fa-spinner fa-spin"></i>
            <span class="loader-text">Loading data....</span>
        </div>
    </div>
</div> -->


<div class="container-fluid">
    <div class="tabs">

        <!--Add Synonyms Section-->
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="widget-header">
                        <h5><b>Add New Synonyms</b></h5>
                        <form [formGroup]="addSynonyms">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="new-search">

                                        <ng-select #code class="custom" [items]="items$" bindLabel="name"
                                            bindValue="name" [closeOnSelect]="true" [multiple]="false"
                                            [hideSelected]="true" [dropdownPosition]="'bottom'" [searchable]="true"
                                             formControlName="SearchProductname"
                                            [closeOnSelect]="true" placeholder="Select Product Name" [markFirst]="true"
                                            (change)="onChangeData($event)"   appendTo="body" groupBy="type"
                                            [typeahead]="input$" required>
                                        </ng-select>

                                    </div>
                                </div>
                                <div class="col-md-4 FromGroup">
                                    <input class="form-control" type="text" placeholder="Add new synonyms"
                                        formControlName="synonymsName" name="synonymsName" required>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn momentive-btn" (click)="synonymsAdd()"  [disabled]="!addSynonyms.valid">Add Synonyms</button> &nbsp;

                                </div>

                            </div>
                        </form>
                    </div>
                    <!--Synonyms Display Table-->
                    <div class="tab-pane active" id="tab_a" *ngIf="ontologySynonymsLoader">
                    <div class="row">
                            <div class="col-md-12">
                                      <h5 class="noReords"><b>No Ontology Records Found</b></h5>
                             </div>
                    </div>
                </div>
                    <div class="tab-pane active" id="tab_a" *ngIf="!ontologySynonymsLoader">
                        <div class="row">
                            <div class="col-md-6">
                                <h5><b>Synonyms Lists</b></h5>
                            </div>
                            <div class="col-md-6">
                                <form class="syn-search" action="#">
                                    <div class="form-group-feedback form-group-feedback-right">
                                        <input type="search" class="form-control" name="search" [(ngModel)]="searchText"
                                            autocomplete="off" placeholder="Search">
                                        <div class="form-control-feedback">
                                            <i class="fa fa-search font-size-base text-muted"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>

                       
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget stacked widget-table action-table">
                                    
                                    <div class="">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width:5%">S.No</th>                                              
                                                    <th>Product Name</th>
                                                    <th>Product Type</th>
                                                    <th>Synonyms</th>
                                                                         
                                                     <th class="td-actions">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let data of Ontologysynonyms| synonymsFilter: searchText; let i = index">
                                                    <td>{{i+1}}</td>
                                                    <!-- <td>{{data.key}}</td> -->
                                                    <td  style="width:35%">
                                                            
                                                                    <div class="new-search">
                                
                                                                        <ng-select #code class="custom" [items]="items$" bindLabel="name" [readonly]="data.editable"
                                                                            bindValue="name" [closeOnSelect]="true" [multiple]="false"
                                                                            [hideSelected]="true" [dropdownPosition]="'bottom'" [searchable]="true"
                                                                             [(ngModel)]="data.key" 
                                                                            [closeOnSelect]="true" placeholder="Select Product Name" [markFirst]="true"
                                                                            (change)="onChangeData($event)"   [hideSelected]="false" appendTo="body" groupBy="type"
                                                                            [typeahead]="input$" required>
                                                                        </ng-select>
                                
                                                                    </div>
                                                   
                                                    
                                                    
                                                    </td>
                                                    <td style="width:20%">{{data.key_Category}}</td>
                                                    <td ><input class="form-control"  [disabled] ="data.editable" type="text" name="synonyms" [(ngModel)]="data.synonyms" /></td>
                                                    <!-- <td>{{data.synonyms}}</td> -->
                                                   
                                                    
                                                      <td class="td-actions" width="10%">   
                                                            <a class="docs-btn" title="Change Log"  data-toggle="modal" data-target="#synonymsInformation" (click)="synonymsUserDetails(data)"><i class="fa fa-info"></i></a>                          
                                                      <a class="docs-btn" (click)="synonymsEdit(data)"  *ngIf="data.editable"><i class="fa fa-pencil-square-o"></i></a>  
                                                      

                                                      <a class="docs-btn" title="update" *ngIf="!data.editable" (click)="synonymsUpdate(data)"><i class="fa fa-upload" aria-hidden="true"></i></a> 
                                                      <a class="docs-btn" title="clear" *ngIf="!data.editable" (click)="synonymsClearData()"><i class="fa fa-close"></i></a>   
                                                   </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="synonymsInformation" class="modal fade" role="dialog" *ngIf='synonymsManagementData'>
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
    <h6 class="modal-title-h">Change Log - {{synonymsManagementData.synonyms}}</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             
            </div>
            <div class="modal-body" id="customerTable">
                    <table id="customers">
                
                            <thead>
                                  <td><b>S.No</b></td>
                                  <td><b>Product</b></td>
                                  <td><b>Synonyms</b></td>
                                  <td><b>Updated Date</b></td>
                                  <td><b>Updated By</b></td>
                                  
                              </thead>
                              <tbody>
                              <tr *ngFor="let data of synonymsUserUpdatedDetails ; let i = index">
                                  <td>{{i+1}}</td>
                                
                                  <td>{{data.product}}</td>
                                  <td>{{data.synonyms_Extract_Data}}</td>
                                  <td>{{data.updated_Date}}</td>
                                  <td>{{data.updated_By}}</td>
                                  
                              </tr>
                          </tbody>
                          </table>
            </div>
          
          </div>
      
        </div>
      </div>
