<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" role="tabpanel">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <h6 class="text-default font-weight-semibold"><span class="">Sales Volume:<i class="fa fa-info-circle"
                            role="button" title="This data is from SAP BW"></i></span>
                    </h6>
                </div>
            </div>
        </div>

        <!--Sales Volume table Section-->
        <div class="modal-body" *ngIf="volumeCheck">
            <span *ngIf="salesInformationLoader">
                <i class="loader-class fa fa-spinner fa-spin"></i>
                <span class="loader-text">Loading Sales Information data....</span>
            </span>
            <span *ngIf="pihAlertMessage">
                <h5 class="loader-text"><img src="../../../assets/images/momentive/category/noDataFound.png"></h5>
            </span>
            <div *ngIf="!salesInformationLoader && !pihAlertMessage">
                <p-table #dt [columns]="saleDataHead" [value]="salesDataproducts" (sortFunction)="customSort($event)" [customSort]="true"  [style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand" 
                [responsive]="true">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div style="text-align: left">
                                    <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                    <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ui-helper-clearfix" style="text-align: right">
                                    <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                    <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <br>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>S.No</th>
                            <th class="ptable-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                        <tr class="ui-resizable-column">
                            <td>{{index+1}}</td>
                            <td class="ptable-size">{{rowData.basic_data}}</td>
                            <td class="ptable-size">{{rowData.spec_id}}</td>
                            <td class="ptable-size">{{rowData.material_description}}</td>
                            <td class="ptable-size">{{rowData.material_number}}</td>
                            <td class="ptable-size">{{rowData.past_Sales}}</td>
                            <td class="ptable-size">{{rowData.region_sold}}</td>
                            <td class="ptable-size">{{rowData.sales_Org}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>