.modal-body {
    background-color: #fff;
    position: relative !important;
    height: calc(100vh - 80px) !important;
    overflow-y: auto !important;
    padding:20px;
}
.modal-body-new {
    position: relative;
    height: calc(100vh - 200px) ;
    overflow-y: auto;
    padding:20px;
    background-color:#fff;
}


#backtotop {
    border-radius: 50%;
    line-height: 48px;
    background-color: #333;
    display: block;
    position: fixed;
    bottom: 50px;
    text-align: center;
    width: 50px;
    right: 30px;
    opacity: 0;
    transition: all 0.4s ease 0s;
    color: #FFF;
    font-size: 11px;
    height: 50px;
    z-index: 99999;
    cursor: pointer;
}

#backtotop:hover {
    background-color: #d6644a;
    transition: .4s;
    color: #fff;
}

#backtotop.active {
    opacity: 1;
}

.header {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: #673ab7;
    -ms-flex-pack: justify;
    justify-content: space-between;
    will-change: transform;
    transition: transform 0.25s ease-in-out;
    fill: hsla(0, 0%, 100%, .9);
    z-index: 2;
}

.main {
    background-color: rgba(0, 0, 0, 0.1);
    height: 150vh;
    padding-top: 70px;
}

.header-unpin {
    transform: translateY(-100%);
}

.header-pin {
    transform: translateY(0);
}

* prime Table */

::ng-deep  .ui-table table, .ui-table table
{  table-layout:auto !important;
}
::ng-deep .ui-table-tablewrapper {
    width: auto!important;
}

::ng-deep .ui-table-resizable {
    padding-bottom: 1px;
    /* overflow: auto; */
    width: auto !important;
}
.ui-table .ui-table-tbody > tr, .ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td{
    max-width: 300px !important;
    font-size: 12px;
    padding: 0px !important;
    padding-left: 4px !important;
    color: black;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    border-width: 1px;
}
.ptable-head{
    max-width: 300px !important;
    font-size: 12px;
    padding: 0px !important;
    padding-left: 4px !important;
    color: black;
    text-transform: capitalize;
    white-space: normal;
    /* overflow: hidden;
    text-overflow: ellipsis !important; */
    border-width: 1px;
    word-break: break-word;
 }
 .ptable-size{
    max-width: 300px !important;
    font-size: 12px;
    padding: 0px !important;
    padding-left: 4px !important;
    color: black;
    text-transform: capitalize;
    white-space: normal;
    overflow: hidden;
    border-width: 1px; 
    word-break: break-word
 }