<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" role="tabpanel">
        <div class="board-inner radio-check-mbv" *ngIf="topcheckedData">
            <div class="slide-nav">
                <div class="slide-center">
                    <div class="list-check">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button *ngFor="let item of ProductComplianceCheck;let i = index" [value]="i" [checked]="item.name === productComplianceCheck" (change)="onChangeProductCompliance(item.name)"> {{item.name}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>


        <div [class.modal-body]='contentHeight' [class.modal-body-new]='!contentHeight' *ngIf="complianceNotification">
            <!--Alert Message and Loading section-->
            <span *ngIf="ProductComplianceTabLoader">
                        <i class="loader-class fa fa-spinner fa-spin"></i>
                        <span class="loader-text">Loading data....</span>
            </span>
            <span *ngIf="pihAlertMessage">
                        <h5 class="loader-text"><img src="../../../assets/images/momentive/category/noDataFound.png"></h5>
                    </span>

            <!--Notification Status-->
            <div *ngIf="!ProductComplianceTabLoader && !pihAlertMessage">
                <h6 class="text-default font-weight-semibold">Notification Status: <i class="fa fa-info-circle" role="button" title="This data is from SAP"></i></h6>
                <p-table #dt [columns]="pc_NotificationHeader" [value]="pc_NotificationData" (sortFunction)="customSort($event)" [customSort]="true" [style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand" 
                [responsive]="true">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div style="text-align: left">
                                    <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                    <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ui-helper-clearfix" style="text-align: right">
                                    <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                    <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <br>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width:5%">S.No</th>
                            <th class="ptable-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                        <tr>
                            <td>
                                {{index+1}}
                            </td>
                            <td class="ptable-size">
                                {{rowData.spec_id}}
                            </td>
                            <td class="ptable-size">
                                {{rowData.regulatory_List}}
                            </td>
                            <td class="ptable-size">
                                {{rowData.notification}}
                            </td>
                            <td class="ptable-size">
                                {{rowData.additional_Info}}
                            </td>
                            <td class="ptable-size">
                                {{rowData.usage}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <!--Compliance Registration-->
        <div [class.modal-body]='contentHeight' [class.modal-body-new]='!contentHeight' *ngIf="complianceRegistration">
            <div class="row" *ngIf="complianceLocationRegistrationData.length">
                <div class="col-md-9">
                    <h6 class="text-default font-weight-semibold mb-2 "><span *ngIf="complaint_EU">EU: <i
                                        class="fa fa-info-circle" role="button"
                                        title="This data is from Document on Shared Drive - P"></i></span>
                        <span *ngIf="complaint_canada">US Canada: <i class="fa fa-info-circle" role="button"
                                        title="This data is from Document on Shared Drive - P"></i> </span>
                        <span *ngIf="complaint_latin">Latin America : <i class="fa fa-info-circle" role="button"
                                        title="This data is from Document on Shared Drive - P"></i></span></h6>
                </div>
                <!--Dropdown Section -->
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Region</mat-label>
                        <mat-select name="registraionVaraible" [(value)]="selectedAGRegistrationLocation" placeholder="Select Region" (selectionChange)="selectRegionProcess($event.value)">
                            <mat-option *ngFor="let composition of regionPart" [value]="composition.type">
                                {{composition.type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
              </div>

            <!--EU Location-->
            <div class="row" *ngIf="complaint_EU">
                <div class="col-md-12">

                    <span *ngIf="ProductComplianceTabLoader">
                        <i class="loader-class fa fa-spinner fa-spin"></i>
                        <span class="loader-text">Loading data....</span>
                    </span>

                    <span *ngIf="pihAlertMessage">
                        <h5 class="loader-text"><img src="../../../assets/images/momentive/category/noDataFound.png"></h5>
                    </span>

                    <div *ngIf="!pihAlertMessage && !ProductComplianceTabLoader">
                        <!-- EU Composition -->
                        <p-table #dt [columns]="complianceRegistrationEUHeader" [value]="complianceLocationRegistrationData" (sortFunction)="customSort($event)" [customSort]="true" [style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand" 
                        [responsive]="true">
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div style="text-align: left">
                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                            <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ui-helper-clearfix" style="text-align: right">
                                            <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                            <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <br>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>S.No</th>
                                    <th class="ptable-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                                <tr class="ui-resizable-column">
                                    <td>
                                        {{index+1}}
                                    </td>
                                    <td class="ptable-size">{{rowData.spec_id}}</td>
                                    <td class="ptable-size"> {{rowData.product}}</td>
                                    <td class="ptable-size"> {{rowData.country}}</td>
                                    <td class="ptable-size"> {{rowData.holder}}</td>
                                    <td class="ptable-size">{{rowData.registration}}</td>
                                    <td class="ptable-size"> {{rowData.expiry}}</td>
                                    <td class="ptable-size"> {{rowData.status}}</td>
                                    <td class="ptable-size"> {{rowData.certificate}}</td>


                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>
            <!--Canada Location-->
            <div class="row" *ngIf="complaint_canada">
                <div class="col-md-12">

                    <span *ngIf="ProductComplianceTabLoader">
                            <i class="loader-class fa fa-spinner fa-spin"></i>
                            <span class="loader-text">Loading data....</span>
                    </span>

                    <span *ngIf="pihAlertMessage">
                            <h5 class="loader-text"><img src="../../../assets/images/momentive/category/noDataFound.png"></h5>
                        </span>

                    <div *ngIf="!pihAlertMessage && !ProductComplianceTabLoader">
                        <p-table #dt [columns]="complianceRegistrationCanada_Header" [value]="complianceLocationRegistrationData" (sortFunction)="customSort($event)" [customSort]="true" [style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand" 
                        [responsive]="true">
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div style="text-align: left">
                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                            <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ui-helper-clearfix" style="text-align: right">
                                            <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                            <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <br>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>S.No</th>
                                    <th class="ptable-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                                <tr class="ui-resizable-column">
                                    <td>
                                        {{index+1}}
                                    </td>
                                    <td class="ptable-size"> {{rowData.spec_id}}</td>
                                    <td class="ptable-size"> {{rowData.product}}</td>
                                    <td class="ptable-size"> {{rowData.EPA_Inert_Product_Listing}}</td>
                                    <td class="ptable-size"> {{rowData.CA_DPR}}</td>
                                    <td class="ptable-size"> {{rowData.CP_DA}}</td>
                                    <td class="ptable-size"> {{rowData.WSDA}}</td>
                                    <td class="ptable-size"> {{rowData.OMRI}}</td>
                                    <td class="ptable-size"> {{rowData.Canada_OMRI}}</td>
                                    <td class="ptable-size"> {{rowData.OMRI_Reneval_Date}}</td>
                                    <td class="ptable-size"> {{rowData.PMRA}}</td>



                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <!--Latin Location-->
            <div class="row" *ngIf="complaint_latin">
                <div class="col-md-12">
                    <span *ngIf="ProductComplianceTabLoader">
                            <i class="loader-class fa fa-spinner fa-spin"></i>
                            <span class="loader-text">Loading data....</span>
                    </span>

                    <span *ngIf="pihAlertMessage">
                            <!-- <span class="loader-text"><img src="./assets/images/momentive/nodataAlert.png"/></span> -->
                    <h5 class="loader-text"><img src="../../../assets/images/momentive/category/noDataFound.png"></h5>
                    </span>

                    <div *ngIf="!pihAlertMessage && !ProductComplianceTabLoader">
                        <p-table #dt [columns]="complianceRegistrationLatin_Header" [value]="complianceLocationRegistrationData" (sortFunction)="customSort($event)" [customSort]="true" [style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand" 
                        [responsive]="true">
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div style="text-align: left">
                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                            <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ui-helper-clearfix" style="text-align: right">
                                            <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                            <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <br>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>S.No</th>
                                    <th class="ptable-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>


                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                                <tr class="ui-resizable-column">
                                    <td>
                                        {{index+1}}
                                    </td>
                                    <td class="ptable-size"> {{rowData.spec_id}}</td>
                                    <td class="ptable-size"> {{rowData.product}}</td>
                                    <td class="ptable-size"> {{rowData.country}}</td>
                                    <td class="ptable-size"> {{rowData.registered_Name}}</td>
                                    <td class="ptable-size"> {{rowData.date_Granted}}</td>
                                    <td class="ptable-size"> {{rowData.date_Of_Expiry}}</td>
                                    <td class="ptable-size"> {{rowData.registration_Holder}}</td>
                                    <td class="ptable-size"> {{rowData.registration_Certificate}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>