<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" role="tabpanel">
        <div class="board-inner radio-check-mbv" *ngIf="topcheckedData">
            <div class="slide-nav">
                <div class="slide-center">
                    <div class="list-check">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1" *ngFor="let item of toxicologyChecks;let i = index" [value]="i"
                                [checked]="item.name === toxicologyTab" (change)="onChangeToxicology(item.name)"
                                value="{{item.value}}"> {{item.name}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
        <!--Study Title and Date Check Section-->
        <div class="modal-body-new" [class.modal-body]='contentHeight' *ngIf="studyCheck">
            <span *ngIf="toxicolgyLoader">
                <i class="loader-class fa fa-spinner fa-spin"></i>
                <span class="loader-text">Loading data....</span>
            </span>
            <span *ngIf="pihAlertMessage">
                <h5 class="loader-text"><img src="../../../assets/images/momentive/category/noDataFound.png"></h5>
            </span>
            <div *ngIf="!toxicolgyLoader && !pihAlertMessage && !toxicologyStudyDataPage">
                <h6 class="text-default font-weight-semibold">Study Title and Date:<i class="fa fa-info-circle"
                        role="button" title="This data is from Sharepoint"></i></h6>


                <div class="accordion" id="accordionStudyTitle">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-target="#productLevelCategoy" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <h6>Product Level (NAMPROD matches)</h6>
                                </a>
                            </h6>
                        </div>
                        <div id="productLevelCategoy" class="panel-collapse collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionStudyTitle">
                            <div class="panel-body">
                                <span *ngIf="productLevelCategoy.length == 0">No Data Found</span>
                                <div *ngIf="productLevelCategoy.length > 0" class="row">
                                    <div class="col-md-12 table-responsive">

                                        <p-table #dt [columns]="toxicologyProductStudyDataHead"
                                            [value]="productLevelCategoy" (sortFunction)="customSort($event)"
                                            [customSort]="true" [style]="{'overflow':'auto!important'}"
                                            [resizableColumns]="true" columnResizeMode="expand" [responsive]="true">
                                            <ng-template pTemplate="caption">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div style="text-align: left">
                                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                            <input type="text" class="pg-search" pInputText size="50"
                                                                placeholder="Search"
                                                                (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="ui-helper-clearfix" style="text-align: right">
                                                            <button class="btb pg-button" type="button" label="All Data"
                                                                (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;

                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <br>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="ptable-sno">S.No</th>
                                                    <th class="ptable-head" *ngFor="let col of columns"
                                                        [pSortableColumn]="col.field" pReorderableColumn
                                                        pResizableColumn>
                                                        {{col.header}}
                                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                            ariaLabelDesc="Activate to sort in descending order"
                                                            ariaLabelAsc="Activate to sort in ascending order">
                                                        </p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns"
                                                let-index="rowIndex">
                                                <tr class="ui-resizable-column">
                                                    <td>
                                                        {{index+1}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.spec_Id}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.product_Name}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.product_Type}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.file_Source}}
                                                    </td>

                                                    <td class="ptable-size">
                                                        {{rowData.test_Description}}
                                                    </td>
                                                    <td class="ptable-file" (click)="documentStudyDetail(rowData)"><a
                                                            href="javascript:void(0)">{{rowData.filename}}</a></td>

                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-target="#materialLevelCategoy" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    <h6>Material Level (BDT matches)</h6>
                                </a>
                            </h6>
                        </div>
                        <div id="materialLevelCategoy" class="panel-collapse collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionStudyTitle">
                            <div class="panel-body">
                                <span *ngIf="materialLevelCategoy.length == 0">No Data Found</span>
                                <div *ngIf="materialLevelCategoy.length > 0" class="row">
                                    <div class="col-md-12 table-responsive">
                                        <p-table #dt [columns]="toxicologyMaterialStudyDataHead"
                                            [value]="materialLevelCategoy" (sortFunction)="customSort($event)"
                                            [customSort]="true" [style]="{'overflow':'auto!important'}"
                                            [resizableColumns]="true" columnResizeMode="expand" [responsive]="true">
                                            <ng-template pTemplate="caption">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div style="text-align: left">
                                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                            <input type="text" class="pg-search" pInputText size="50"
                                                                placeholder="Search"
                                                                (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="ui-helper-clearfix" style="text-align: right">
                                                            <button class="btb pg-button" type="button" label="All Data"
                                                                (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;

                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <br>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="ptable-sno">S.No</th>
                                                    <th class="ptable-head" *ngFor="let col of columns"
                                                        [pSortableColumn]="col.field" pReorderableColumn
                                                        pResizableColumn>
                                                        {{col.header}}
                                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                            ariaLabelDesc="Activate to sort in descending order"
                                                            ariaLabelAsc="Activate to sort in ascending order">
                                                        </p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns"
                                                let-index="rowIndex">
                                                <tr class="ui-resizable-column">
                                                    <td>
                                                        {{index+1}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.spec_Id}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.product_Name}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.product_Type}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.file_Source}}
                                                    </td>

                                                    <td class="ptable-size">
                                                        {{rowData.test_Description}}
                                                    </td>
                                                    <td class="ptable-file" (click)="documentStudyDetail(rowData)"><a
                                                            href="javascript:void(0)">{{rowData.filename}}</a></td>

                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-target="#casLevelCategoy" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    <h6>Component Level</h6>
                                </a>
                            </h6>
                        </div>
                        <div id="casLevelCategoy" class="panel-collapse collapse" aria-labelledby="headingThree"
                            data-parent="#accordionStudyTitle">
                            <div class="panel-body">
                                <span *ngIf="casLevelCategoy.length == 0">No Data Found</span>
                                <div *ngIf="casLevelCategoy.length > 0" class="row">
                                    <div class="col-md-12 table-responsive">

                                        <p-table #dt [columns]="toxicologyCASStudyHead" [value]="casLevelCategoy"
                                            (sortFunction)="customSort($event)" [customSort]="true"
                                            [style]="{'overflow':'auto!important'}" [resizableColumns]="true"
                                            columnResizeMode="expand" [responsive]="true">
                                            <ng-template pTemplate="caption">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div style="text-align: left">
                                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                            <input type="text" class="pg-search" pInputText size="50"
                                                                placeholder="Search"
                                                                (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="ui-helper-clearfix" style="text-align: right">
                                                            <button class="btb pg-button" type="button" label="All Data"
                                                                (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;

                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <br>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="ptable-sno">S.No</th>
                                                    <th class="ptable-head" *ngFor="let col of columns"
                                                        [pSortableColumn]="col.field" pReorderableColumn
                                                        pResizableColumn>
                                                        {{col.header}}
                                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                            ariaLabelDesc="Activate to sort in descending order"
                                                            ariaLabelAsc="Activate to sort in ascending order">
                                                        </p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns"
                                                let-index="rowIndex">
                                                <tr class="ui-resizable-column">
                                                    <td>
                                                        {{index+1}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.spec_Id}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.product_Name}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.product_Type}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.standardComposition}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.legalComposition}}
                                                    </td>
                                                    <td class="ptable-size">
                                                        {{rowData.file_Source}}
                                                    </td>

                                                    <td class="ptable-size">
                                                        {{rowData.test_Description}}
                                                    </td>
                                                    <td class="ptable-file" (click)="documentStudyDetail(rowData)"><a
                                                            href="javascript:void(0)">{{rowData.filename}}</a></td>

                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!--Study Titie Details Page-->
            <div *ngIf="toxicologyStudyDataPage">
                <h6 class="text-default font-weight-semibold">Study Title and Date</h6>
                <p>{{filename}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-default font-weight-semibold">Document Panel</label>
                        <div>
                            <!-- <embed class="food-document" alt="Thumbnail [200x250]" [src]="Url" type="application/pdf" style="width:550px; height:600px;"> -->
                            <iframe type="application/pdf" [attr.src]="Url" frameborder="no"
                                style="width:100%;height:500px"></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="back-btn"><button class="btn btn-back" (click)="backToStudyPage()"><i
                                    class="fa fa-reply"></i> Back</button></span>
                        <label class="text-default font-weight-semibold">Result Panel</label>
                        <div class="box">
                            <div class=" result-box text-center">
                                <div class="box">
                                    <div class="box-title">
                                        <h3 class="link-data">{{filename}}</h3>
                                    </div>
                                    <div class="box-text">
                                        <span class="result-text">{{Extract_Result}}
                                        </span>
                                        <br>
                                        <span class="result-text">{{Extract_Result_one}}
                                        </span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--Monthly Toxicology Section-->
        <div class="modal-body-new" [class.modal-body]='contentHeight' *ngIf="monthlyCheck">
            <h6 class="text-default font-weight-semibold">Monthly Toxicology Study Title List:<i
                    class="fa fa-info-circle" role="button" title="This data is from Sharepoint"></i></h6>

            <span *ngIf="toxicolgyLoader">
                <i class="loader-class fa fa-spinner fa-spin"></i>
                <span class="loader-text">Loading data....</span>
            </span>

            <span *ngIf="pihAlertMessage">
                <h5 class="loader-text"><img src="../../../assets/images/momentive/category/noDataFound.png"></h5>
            </span>

            <div *ngIf="!toxicolgyLoader && !pihAlertMessage">


                <div class="row">
                    <div class="col-md-12">


                        <p-table class="toxi-tab" #dt [columns]="monthlyToxicologyHeader"
                            [value]="toxicologyMonthlyData" (sortFunction)="customSort($event)" [customSort]="true"
                            [rows]="5" [resizableColumns]="true" [responsive]="true">
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div style="text-align: left">
                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                            <input type="text" class="pg-search" pInputText size="50"
                                                placeholder="Search"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ui-helper-clearfix" style="text-align: right">
                                            <button class="btb pg-button" type="button" label="All Data"
                                                (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                            <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <br>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="ptable-sno">S.No</th>
                                    <th class="ptable-head" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                        [ngStyle]="{'width':col.width}" pResizableColumn>
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                            ariaLabelDesc="Activate to sort in descending order"
                                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                                <tr class="ui-resizable-column">
                                    <td>{{index+1}}</td>
                                    <td class="ptable-size" *ngFor="let col of columns">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

            </div>
        </div>



        <!--Toxicology Summary-->
        <div class="modal-body-new" [class.modal-body]='contentHeight' *ngIf="summaryCheck">
            <span *ngIf="toxicolgyLoader">
                <i class="loader-class fa fa-spinner fa-spin"></i>
                <span class="loader-text">Loading data....</span>
            </span>
            <span *ngIf="pihAlertMessage">
                <h5 class="loader-text"><img src="../../../assets/images/momentive/category/noDataFound.png"></h5>
            </span>
            <div *ngIf="!toxicolgyLoader && !pihAlertMessage && !toxicologySummaryDataPage">
                <h6 class="text-default font-weight-semibold">Toxicology Summary:<i class="fa fa-info-circle"
                        role="button" title="This data is from Sharepoint"></i></h6>


                <div class="accordion" id="accordionToxicologySummary">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-target="#productLevelCategoy" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <h6>Product Level (NAMPROD matches)</h6>
                                </a>
                            </h6>
                        </div>
                        <div id="productLevelCategoy" class="panel-collapse collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionToxicologySummary">
                            <div class="panel-body">
                                <span *ngIf="productLevelCategoy.length == 0">No Data Found</span>
                                <div *ngIf="productLevelCategoy.length > 0" class="row">
                                    <div class="col-md-12 table-responsive">

                                        <p-table #dt [columns]="registrationProductSummaryHeader"
                                            [value]="productLevelCategoy" (sortFunction)="customSort($event)"
                                            [customSort]="true" [style]="{'overflow':'auto!important'}"
                                            [resizableColumns]="true" columnResizeMode="expand" [responsive]="true">
                                            <ng-template pTemplate="caption">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div style="text-align: left">
                                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                            <input type="text" class="pg-search" pInputText size="50"
                                                                placeholder="Search"
                                                                (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="ui-helper-clearfix" style="text-align: right">
                                                            <button class="btb pg-button" type="button" label="All Data"
                                                                (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                                            <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <br>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="ptable-sno">S.No</th>
                                                    <th class="ptable-head" *ngFor="let col of columns"
                                                        [pSortableColumn]="col.field" pResizableColumn>
                                                        {{col.header}}
                                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                            ariaLabelDesc="Activate to sort in descending order"
                                                            ariaLabelAsc="Activate to sort in ascending order">
                                                        </p-sortIcon>
                                                    </th>
                                                    <!-- <th>Action</th> -->
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-rowData let-columns="columns"
                                                let-index="rowIndex">
                                                <tr class="ui-resizable-column">
                                                    <td>{{index+1}}</td>
                                                    <td class="ptable-size">{{rowData.spec_Id}}</td>
                                                    <td class="ptable-size">{{rowData.product_Name}}</td>
                                                    <td class="ptable-size">{{rowData.product_Type}}</td>
                                                    <td class="ptable-size">{{rowData.file_Source}}</td>
                                                    <td class="ptable-file" (click)="documentSummaryDetail(rowData)"><a
                                                            href="javascript:void(0)">{{rowData.filename}}</a></td>
                                                    <!-- <td><button class="btn btn-primary"><a href="{{rowData.file_Path}}" download>Download</a></button></td> -->
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-target="#materialLevelCategoy" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    <h6>Material Level (BDT matches)</h6>
                                </a>
                            </h6>
                        </div>
                        <div id="materialLevelCategoy" class="panel-collapse collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionToxicologySummary">
                            <div class="panel-body">
                                <span *ngIf="materialLevelCategoy.length == 0">No Data Found</span>
                                <div *ngIf="materialLevelCategoy.length > 0" class="row">
                                    <div class="col-md-12 table-responsive">

                                        <p-table #dt [columns]="registrationMaterialSummaryHeader"
                                            [value]="materialLevelCategoy" (sortFunction)="customSort($event)"
                                            [customSort]="true" [style]="{'overflow':'auto!important'}"
                                            [resizableColumns]="true" columnResizeMode="expand" [responsive]="true">
                                            <ng-template pTemplate="caption">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div style="text-align: left">
                                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                            <input type="text" class="pg-search" pInputText size="50"
                                                                placeholder="Search"
                                                                (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="ui-helper-clearfix" style="text-align: right">
                                                            <button class="btb pg-button" type="button" label="All Data"
                                                                (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                                            <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <br>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="ptable-sno">S.No</th>
                                                    <th class="ptable-head" *ngFor="let col of columns"
                                                        [pSortableColumn]="col.field" pResizableColumn>
                                                        {{col.header}}
                                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                            ariaLabelDesc="Activate to sort in descending order"
                                                            ariaLabelAsc="Activate to sort in ascending order">
                                                        </p-sortIcon>
                                                    </th>
                                                    <!-- <th>Action</th> -->
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-rowData let-columns="columns"
                                                let-index="rowIndex">
                                                <tr class="ui-resizable-column">
                                                    <td>{{index+1}}</td>
                                                    <td class="ptable-size">{{rowData.spec_Id}}</td>
                                                    <td class="ptable-size">{{rowData.product_Name}}</td>
                                                    <td class="ptable-size">{{rowData.product_Type}}</td>
                                                    <td class="ptable-size">{{rowData.standardComposition}}</td>
                                                    <td class="ptable-size">{{rowData.file_Source}}</td>
                                                    <td class="ptable-file" (click)="documentSummaryDetail(rowData)"><a
                                                            href="javascript:void(0)">{{rowData.filename}}</a></td>
                                                    <!-- <td><button class="btn btn-primary"><a href="{{rowData.file_Path}}" download>Download</a></button></td> -->
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-target="#casLevelCategoy" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    <h6>Component Level</h6>
                                </a>
                            </h6>
                        </div>
                        <div id="casLevelCategoy" class="panel-collapse collapse" aria-labelledby="headingThree"
                            data-parent="#accordionToxicologySummary">
                            <div class="panel-body">
                                <span *ngIf="casLevelCategoy.length == 0">No Data Found</span>
                                <div *ngIf="casLevelCategoy.length > 0" class="row">
                                    <div class="col-md-12 table-responsive">

                                        <p-table #dt [columns]="registrationCASSummaryHeader" [value]="casLevelCategoy"
                                            (sortFunction)="customSort($event)" [customSort]="true"
                                            [style]="{'overflow':'auto!important'}" [resizableColumns]="true"
                                            columnResizeMode="expand" [responsive]="true">
                                            <ng-template pTemplate="caption">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div style="text-align: left">
                                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                            <input type="text" class="pg-search" pInputText size="50"
                                                                placeholder="Search"
                                                                (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="ui-helper-clearfix" style="text-align: right">
                                                            <button class="btb pg-button" type="button" label="All Data"
                                                                (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                                            <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <br>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="ptable-sno">S.No</th>
                                                    <th class="ptable-head" *ngFor="let col of columns"
                                                        [pSortableColumn]="col.field" pResizableColumn>
                                                        {{col.header}}
                                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                            ariaLabelDesc="Activate to sort in descending order"
                                                            ariaLabelAsc="Activate to sort in ascending order">
                                                        </p-sortIcon>
                                                    </th>
                                                    <!-- <th>Action</th> -->
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-rowData let-columns="columns"
                                                let-index="rowIndex">
                                                <tr class="ui-resizable-column">
                                                    <td>{{index+1}}</td>
                                                    <td class="ptable-size">{{rowData.spec_Id}}</td>
                                                    <td class="ptable-size">{{rowData.product_Name}}</td>
                                                    <td class="ptable-size">{{rowData.product_Type}}</td>
                                                    <td class="ptable-size">{{rowData.standardComposition}}</td>
                                                    <td class="ptable-size">{{rowData.compositionValue}}</td>
                                                    <td class="ptable-size">{{rowData.file_Source}}</td>
                                                    <td class="ptable-file" (click)="documentSummaryDetail(rowData)"><a
                                                            href="javascript:void(0)">{{rowData.filename}}</a></td>
                                                    <!-- <td><button class="btn btn-primary"><a href="{{rowData.file_Path}}" download>Download</a></button></td> -->
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!--Toxicology Summary Detail Page-->
            <div *ngIf="toxicologySummaryDataPage">
                <h6 class="text-default font-weight-semibold">Toxicology Summary</h6>
                <p>{{filename}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-default font-weight-semibold">Document Panel</label>
                        <div>
                            <!-- <embed class="food-document" alt="Thumbnail [200x250]" [src]="Url" type="application/pdf" style="width:550px; height:600px;"> -->
                            <iframe type="application/pdf" [attr.src]="Url" frameborder="no"
                                style="width:100%;height:500px"></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="back-btn"><button class="btn btn-back" (click)="backToSummaryPage()"><i
                                    class="fa fa-reply"></i> Back</button></span>
                        <label class="text-default font-weight-semibold">Result Panel</label>
                        <div class="box">
                            <div class=" result-box text-center">
                                <div class="box">
                                    <div class="box-title">
                                        <h3 class="link-data">{{filename}}</h3>
                                    </div>
                                    <div class="box-text">
                                        <span class="result-text">{{Extract_Result}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Toxicology Registration Tracker-->
        <div [class.modal-body]='contentHeight' [class.modal-body-new]='!contentHeight' *ngIf="dataCheck">
        <div> <h6 class="text-default font-weight-semibold">Toxicology Registration Tracker:<i
            class="fa fa-info-circle" role="button" title="This data is from SQL DB"></i></h6>
                <form autocomplete="off" novalidate [formGroup]="toxiRegisterForm">
                        <div class="row">
                                <div class="col-md-3">
                                        <ng-select #toxiRegisterProduct [items]="toxiProduct" class="custom" bindLabel="name"
                                            bindValue="name" [selectOnTab]="true"  placeholder="Search Product"
                                            [dropdownPosition]="'bottom'" formControlName="selectedToxiProduct"
                                            (change)="onChangeProduct($event)">
                                        </ng-select>
                                    </div>
                            <div class="col-md-3">
                                <ng-select #toxiRegisterBand  [items]="toxiBand" class="custom" bindLabel="name"
                                    bindValue="name"  placeholder="Search Tonnage Band"
                                    [dropdownPosition]="'bottom'" formControlName="selectedToxiBand"
                                    (change)="onChangeBand($event)">
                                </ng-select>
                            </div>
                         
                            <div class="col-md-3">
                                    <ng-select #code  [items]="countryBaseddata" class="custom" bindLabel="name"
                                        bindValue="name" [multiple]="true" placeholder="Search country"
                                        [dropdownPosition]="'bottom'" formControlName="selectedToxicountry"
                                        (change)="onChangeCountry($event)">
                                    </ng-select>
                                </div>
                            <div class="col-md-3" *ngIf="toxiRegitrationBtn">
                                <button class="btn btn-register"(click)="registrationDataTracker()">Submit</button>
                            </div>
                        </div>
                    </form>
           </div>

     <br>

           

            <span *ngIf="toxicolgyRegisterLoader">
                    <i class="loader-class fa fa-spinner fa-spin"></i>
                    <span class="loader-text">Loading data....</span>
                </span>

                 <span *ngIf="pihAlertRegisterMessage">
                <h5 class="loader-text"><img src="../../../assets/images/momentive/category/noDataFound.png"></h5>
            </span>

            <div *ngIf="!toxicolgyRegisterLoader && !pihAlertRegisterMessage">
                    <div class="row" *ngIf="registerTableShow">
                    <div class="col-md-12"> <span class="time-cost"> <b>Estimated Time(in hrs)</b> : {{registartionTrackerEstimateTime}} | <b> Estimated Cost(in USD)</b> : {{registartionTrackerTotalCost}}</span></div></div>
               
                    <div class="row" *ngIf="registerTableShow">
                        <div class="col-md-12">
                         
                            <p-table #dt [columns]="registrationHeader" [value]="registartionTrackerData"
                                (sortFunction)="customSort($event)" [customSort]="true" [resizableColumns]="true"
                                columnResizeMode="expand" [responsive]="true">
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div style="text-align: left">
                                                <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                <input type="text" class="pg-search" pInputText size="50"
                                                    placeholder="Search"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ui-helper-clearfix" style="text-align: right">
                                                <button class="btb pg-button" type="button" label="All Data"
                                                    (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                                <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <br>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width:5%">S.No</th>
                                        <th class="ptable-head" *ngFor="let col of columns"
                                            [pSortableColumn]="col.field" pResizableColumn
                                            [ngStyle]="{'width':col.width}">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                ariaLabelDesc="Activate to sort in descending order"
                                                ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                                    <tr class="ui-resizable-column">
                                        <td>{{index+1}}</td>
                                        <td class="ptable-size">{{rowData.country_Name}}</td>
                                        <td class="ptable-size">{{rowData.tonnage_Band}}</td>
                                        <td class="ptable-size">{{rowData.study_Type}}</td>
                                        <td class="ptable-size">{{rowData.test_Method}}</td>
                                        <td class="ptable-size">{{rowData.test_Name}}</td>
                                        <td class="ptable-size">{{rowData.completed}}</td>
                                        <td class="ptable-size">{{rowData.estimated_Timing}}</td>
                                        <td class="ptable-size">{{rowData.estimated_Cost}}</td>
                                       
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>