
    <!-- <div class="col-md-12">
        <div class="card-body">
            <h6 class="text-default font-weight-semibold"><span class="">Released Document:<i class="fa fa-info-circle"
                        role="button" title="This data is from SAP"></i></span>
            </h6>
        </div>
    </div> -->







<div class="modal-body">

    <div class="row">
        <div class="col-md-9">
            <h6 class="text-default font-weight-semibold mb-2">
                <span *ngIf="released_documents">Released Documents <i class="fa fa-info-circle" role="button"
                        title="This data is from SAP"></i> </span>
                        <span *ngIf="historical_documents">Historical Documents <i
                            class="fa fa-info-circle" role="button"
                            title="This data is from SAP"></i></span></h6>
                
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Documents</mat-label>
                <mat-select name="releseDocuments" [(value)]="selectedDocuments"
                    placeholder="Select Documents Type" (selectionChange)="selectDocumentsType($event.value)">
                    <mat-option *ngFor="let data of DocumentPart" [value]="data.type">
                        {{data.type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <span *ngIf="reportLoader">
        <i class="loader-class fa fa-spinner fa-spin"></i>
        <span class="loader-text">Loading Released Document data....</span>
    </span>

    <span *ngIf="pihAlertMessage">
        <h5 class="loader-text">No Data Found..</h5>
    </span>
       <div *ngIf="!reportLoader && !pihAlertMessage">
        <p-table #dt [columns]="reportDataHead" [value]="reportDataproducts"
            (sortFunction)="customSort($event)" [customSort]="true">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-md-6">
                        <div style="text-align: left">
                            <input type="text" class="pg-search" pInputText size="50" placeholder="Search"
                                (input)="dt.filterGlobal($event.target.value, 'contains')">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ui-helper-clearfix" style="text-align: right">
                            <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export
                                CSV Data</button>&nbsp;
                        </div>
                    </div>
                </div>
            </ng-template>
            <br>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:3.5em">S.No</th>
                    <th class="pg-head" *ngFor="let col of columns" [pSortableColumn]="col.field" 
                        [ngStyle]="{'width': col.width}">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                <tr>
                    <td>{{index+1}}</td>
                    <td><span *ngIf="rowData.category === 'MSDS'"><a href="http://sds.momentive.com/ehswww/servlet/MultiFileServlet?msdsstr=rowData.material_details&region=USA&lang=English" download>{{rowData.category}}</a></span>
                        <span *ngIf="rowData.category !== 'MSDS'">{{rowData.category}}</span>
                    </td>
                    <td>{{rowData.spec_id}}</td>
                    <td>{{rowData.generation_Variant}}</td>
                    <td>{{rowData.language}}</td>
                    <td>{{rowData.version}}</td>
                    <td>{{rowData.released_on}}</td>

                   
                </tr>
            </ng-template>
        </p-table>
</div>

